
.finalizar{
    background-color: rgb(60, 117, 60);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255)

}

.finalizar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.finalizar2{
    background-color: rgb(60, 117, 60);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-left: 20px;

}

.finalizar2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    padding-left: 5px;
    
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;



}

.estilo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    padding-left: 5px;
}

.producto{
    background-color: rgb(60, 117, 60);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255)
    

}

.producto:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

