header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
   background-color: rgb(93, 151, 93);
    border-bottom: solid 1px #cacaca;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    
}

.imgGrow {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #6ddf6d;
    color: antiquewhite;
}

.categos {
    text-decoration: none;
    color: antiquewhite;
    width: 100px;
}

.li {
    text-align: center;
}
