.containerFormulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%; 
  
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='submit'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }

  input[type='email'],
  input[type='submit'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }
 
  
  a {
    margin-top: 15px;
  }
  
  .finalizar {
    
        background-color: rgb(60, 117, 60);
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        position: relative;
        transition: box-shadow 0.3s;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color:rgb(255, 255, 255);
        margin-left: 20px;
        margin-top: 5px;
    
    }
    
    .finalizar:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
  